@import "yoga";

// Uncomment this for working with yoga prototyping
// http://rtablada.github.io/yoga-sass/#mixin-yoga-prototype
// @include yoga-prototype();

$brand-blue: #00bbd3;
$brand-yellow: #ffff8c;
$title-white: #fff;
$regular-text: #1c1c1c;
$placeholder-text: rgba(0, 0, 0, 0.38);

$font-family: Roboto;
$base-font-size: 14px;
$base-line-height: 2.14rem;

.app {
  margin: auto;
  max-width: 80rem;


}

.top-nav {
  // width: 80rem;

}

.nav-list {
  margin: auto;
  width: 80rem;
  background-color: $brand-blue;
  color: $title-white;


}

.nav-list_brand {

}


.second-nav_list {
  display: flex;
  justify-content: space-between;
  height: 4rem;

}
.second-nav_link {
  margin: auto;
  border-radius: 1rem;
}

.app-content {
width: 100%


}

.app-add {
  color: $regular-text;
  margin: auto;
  padding-top: 2rem;
  max-width: 50rem;
// background-color: purple;

}

.nav-add {

}

.nav-add_title {
  padding-bottom: 1rem;

}

.list-add {
  // color: $placeholder-text;
  border: 1px solid black;
  // background-color: yellow;
  // display: flex;
  // flex-direction: column;
  // box-shadow: 1;

}

.first-line {
  padding-top: 2rem;


}

.second-line {
  padding-top: 4rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
  color: $brand-blue;



}
