
<div class="app-add">
  <nav class="nav-add">
    <div class="nav-add_title">
      Add New List
    </div>
  </nav>

  <div class="list-add">
    <div class="first-line">
    <input type="text" value="List Name">
  </div>
  <div class="second-line">
    <link type="button" name="ACCEPT">ACCEPT<
  </div>
</div>
</div>





{{outlet}}
