

<div class="app-add">
  <nav class="nav-add">
    <div class="nav-add_title">
      Add New List
    </div>
  </nav>

  <div class="list-add">
    <div class="input">
    <input type="text" value="List Name">
  </div>
  <div class="button">
    <button type="button" name="ACCEPT">ACCEPT</button>
  </div>
</div>
</div>




{{outlet}}
