<div class="app-content_container">
  <div class="app-content">
    <h2>Here We Go!!</h2>
</div>
<form class="form-content">
  <ul class="reminders-list">
    <li class="reminders-item"></li>
  </ul>
  <div class="input-container">
    {{input class="info-item" type=text placeholder="Add Item"}}
    <button class="submit-button">Accept</button>
  </div>
</form>


</div>
