<header>
<div class="nav-container">
  <div class="top-nav">
    <p>{{fa-icon "bars" class="nav-item"}}</p>
       <h3 class="nav-list_brand">TODOS</h3>
    </div>
    <div class="second-nav_list">
      <ul class="nav-list_menu">
        {{outlet}}
      <div class="second-nav_link">New Years Resolution</div>
      <div class="second-nav_link">Groceries</div>
      <div class="second-nav_link">Homework</div>
      <div class="second-nav_link">Add New List</div>
    </ul>
  </div>
 </div>
 </header>

<div class="app-content_container">
  <div class="app-content">
    <h2>Here We Go!!</h2>
</div>
<form class="form-content">
  <div class="reminders-list">
    <div class="reminders-item">don't</div>
    <div class="reminders-item">forget</div>
    <div class="reminders-item">this</div>
    <div class="reminders-item">dumbass</div>
  </div>
  <div class="info-container">
    {{input class="info-item" type=text placeholder="Add Item"}}
    <button class="submit-button">Accept</button>
  </div>
</form>


</div>
