<header>
<div class="nav-container">
  <div class="top-nav">
    <p>{{fa-icon "bars" class="nav-item"}}</p>
       <h3 class="nav-list_brand">TODOS</h3>
    </div>
    <div class="second-nav_list">
      <ul class="nav-list_menu">
        {{#each model as |list|}}
      <li class="second-nav_link">{{list.title}}</li>
      {{/each}}
    </ul>
    {{#link-to "add-new-list"}}
    <p class="add-list">Add New List</p>
    {{/link-to}}
  </div>
 </div>
 </header>

{{outlet}}
