<div class="app">
  <nav class="top-nav">
    <ul class="nav-list">
       <div class="nav-list_brand">
      {{!-- {{#link-to "TODOS"}} --}}
      TODOS
    </div>
    <div class="second-nav_list">
      <div class="second-nav_link">New Years Resolution</div>
      <div class="second-nav_link">Groceries</div>
      <div class="second-nav_link">Homework</div>
      <div class="second-nav_link">Add New List</div>
    </div>
  </ul>
   </nav>

<div class="app-content">{{outlet}}</div>

</div>
