<div class="app">
  <nav class="top-nav">
    <ul class="nav-list">
       <div class="nav-list_brand">
      {{!-- {{#link-to "TODOS"}} --}}
      TODOS
    </div>
    </ul>
  </nav>

<div class="app-content">{{outlet}}</div>

</div>
